<!-- start footer -->
<footer class="bg-white pb-16">

    <section class="container mx-auto px-8 ">
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-full  opacity-25 my-0 py-0 rounded-t"></div>
        </div>
        <div class="w-full flex flex-wrap ">
            <!-- start 下载应用 -->
            <div class="w-full sm:w-1/3 py-4">
                <div class="flex-1  flex flex-col items-center mb-2 text-black">
                    <div class="font-bold text-lg  flex items-center">
                        <span class="ml-1">下载应用</span>
                    </div>
                </div>
                <div class="text-gray-800 flex flex-col items-center text-sm text-center">
                    <ul>
                        <li class="py-1">
                            <a class="hover:text-red-400"
                                href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8windows%E4%B8%8B%E8%BD%BD/">番茄
                                Windows PC电脑版</a>
                        </li>
                        <li class="py-1">
                            <a class="hover:text-red-400"
                                href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8mac%E4%B8%8B%E8%BD%BD/">番茄
                                macOS苹果电脑版</a>
                        </li>
                        <li class="py-1">
                            <a class="hover:text-red-400"
                                href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8ios%E4%B8%8B%E8%BD%BD/">番茄
                                ios苹果手机版</a>
                        </li>
                        <li class="py-1">
                            <a class="hover:text-red-400"
                                href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8android%E4%B8%8B%E8%BD%BD/">番茄
                                Android安卓手机版</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end 下载应用 -->


            <!-- start 关于我们 -->
            <div class="w-full  sm:w-1/3 py-4">
                <div class="flex-1 mb-2 text-black flex flex-col items-center">
                    <div class="font-bold text-lg  flex items-center">
                        <!--Icon from: http://www.potlabicons.com/ -->
                        <span class="ml-1">关于我们</span>
                    </div>
                </div>
                <div class="text-gray-800 flex flex-col items-center text-sm">
                    <ul>
                        <li class="py-1"><a class="hover:text-red-400"
                                href="/pages/about/service/service.amp.html">服务条款</a>
                        </li>
                        <li class="py-1"><a class="hover:text-red-400"
                                href="/pages/about/privacy/privacy.amp.html">隐私协议</a></li>
                        <li class="py-1"><a class="hover:text-red-400"
                                href="/pages/about/applimits/applimits.amp.html">应用权限</a></li>
                        <li class="py-1"><a class="hover:text-red-400"
                                href="/pages/about/contact/contact.amp.html">联系我们</a></li>
                    </ul>
                </div>
            </div>
            <!-- end 关于我们 -->

            <!-- start 最新资讯 -->
            <div class="w-full flex-1 sm:w-1/3 py-4">
                <div class="flex-1 mb-2 text-black flex flex-col items-center">
                    <div class="font-bold text-lg  flex items-center">
                        <!--Icon from: http://www.potlabicons.com/ -->
                        <span class="ml-1">最新资讯</span>
                    </div>
                </div>
                <div class="text-gray-800 flex flex-col items-center text-center text-sm">
                    <ul class="w-full px-2">
                        <li class="py-1 truncate"><a class="wp-block-latest-posts__post-title hover:text-red-400"
                                href="https://www.fanqiejsq.com/%e6%8b%b3%e7%9a%8798ol%e5%9b%bd%e5%a4%96%e5%8a%a0%e9%80%9f%e5%99%a8%e6%9c%89%e5%93%aa%e4%ba%9b%e5%a5%bd%e7%94%a8/">拳皇98OL国外加速器有哪些好用</a>
                        </li>
                        <li class="py-1 truncate"><a class="wp-block-latest-posts__post-title hover:text-red-400"
                                href="https://www.fanqiejsq.com/%e5%9c%a8%e6%be%b3%e5%a4%a7%e5%88%a9%e4%ba%9a%e6%89%93%e5%bc%80%e6%b5%b7%e9%80%9a%e8%af%81%e5%88%b8%e5%be%88%e6%85%a2%e6%80%8e%e4%b9%88%e5%8a%9e/">在澳大利亚打开海通证券很慢怎么办</a>
                        </li>
                        <li class="py-1 truncate"><a class="wp-block-latest-posts__post-title hover:text-red-400"
                                href="https://www.fanqiejsq.com/%e7%8e%a9%e5%b0%91%e5%a5%b3%e5%89%8d%e7%ba%bf%e6%9c%80%e5%a5%bd%e7%9a%84%e5%8a%a0%e9%80%9f%e5%99%a8/">玩少女前线最好的加速器</a>
                        </li>
                        <li class="py-1 truncate"><a class="wp-block-latest-posts__post-title hover:text-red-400"
                                href="https://www.fanqiejsq.com/%e5%9c%a8%e5%8d%b0%e5%ba%a6%e5%b0%bc%e8%a5%bf%e4%ba%9a%e7%94%a8%e5%9b%bd%e5%ae%b6%e6%94%bf%e5%8a%a1%e6%9c%8d%e5%8a%a1%e5%b9%b3%e5%8f%b0%e6%80%8e%e4%b9%88%e6%8a%8a%e5%ae%9a%e4%bd%8d%e4%bf%ae%e6%94%b9/">在印度尼西亚用国家政务服务平台怎么把定位修改到中国国内</a>
                        </li>
                        <li class="py-1 truncate"><a class="wp-block-latest-posts__post-title hover:text-red-400"
                                href="https://www.fanqiejsq.com/%e8%8b%b1%e5%9b%bd%e7%8e%a9%e6%96%b0%e8%af%9b%e4%bb%99%e7%94%a8%e4%bb%80%e4%b9%88%e5%8a%a0%e9%80%9f%e5%99%a8%e5%a5%bd/">英国玩新诛仙用什么加速器好</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- end 最新资讯 -->

        </div>

    </section>

    <!-- start 尾部第三部分 -->
    @@include('templates/htmlTpl/_friendly-link.ejs')
    <!-- end 尾部第三部分 -->

</footer>
<!-- end footer -->