<section class="bg-white py-16 min-h-[80vh]" id="antique">
    <div class="container mx-auto px-4 sm:px-6">
        <!-- 文字介绍和图片 -->
        <div class="flex flex-col  flex-col-reverse md:flex-row items-center justify-between gap-4">
            <!-- 图片 -->
            <div class="w-full md:w-1/2 transform md:-rotate-3">
                <img src="./assets/image/servies/generated-image-4-3.jpg" alt="中古物品回收、贸易" class="w-full rounded-lg">
            </div>
            <!-- 文字介绍 -->
            <div class="w-full md:w-1/2 md:pr-8 transform md:rotate-3 text-right">
                <h3 class="font-semibold text-amber-700 text-2xl mb-4">水下机器人贩卖租赁</h3>
                <p class="text-gray-600 text-lg mb-6">我们提供Sencott全系列水下机器人的贩卖和租赁服务。无论是短期项目还是长期使用，我们都能满足您的需求。我们的技术支持团队将为您提供全方位的技术支持，确保您的设备能够顺利运行。</p>
                <p class="text-gray-600 text-lg mb-6">我们的水下机器人适用于多种应用场景，包括海洋探索、水下考古、工业检测等。我们的设备性能卓越，操作简便，能够满足您的各种需求。</p>
            </div>

        </div>
    </div>
    <!-- 轮播图 -->
    <div class="container mx-auto px-4 sm:px-6 pt-5">
        <div class="h-[20rem]">
            <div class="swiper gallery-top gallery-top-4 ">
                <div class="swiper-wrapper">
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-1.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-2.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-3.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-4.jpg')]"></div>
                </div>
            </div>
            <div class="swiper gallery-thumbs gallery-thumbs-4">
                <div class="swiper-wrapper">
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-1.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-2.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-3.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-4-4.jpg')]"></div>
                </div>
            </div>
        </div>
    </div>
</section>