<section class="bg-gray-100 py-16 min-h-[80vh]" id="antique">
    <div class="container mx-auto px-4 sm:px-6">
        <!-- 文字介绍和图片 -->
        <div class="flex flex-col md:flex-row items-center justify-between gap-4">
            <!-- 文字介绍 -->
            <div class="w-full md:w-1/2 md:pr-8 transform md:-rotate-3">
                <h3 class="font-semibold text-amber-700 text-2xl mb-4">中古物品回收、贸易</h3>
                <p class="text-gray-800 text-lg mb-6">
                    我们提供高价回收服务，涵盖各种中古物品，包括但不限于电子产品、奢侈品、家具等。我们拥有全球渠道，确保您的物品能够快速变现。我们的结算流程快速且透明，让您放心交易。</p>
                <p class="text-gray-800 text-lg mb-6">
                    我们的专业团队会为您提供免费的评估服务，确保您能够获得最合理的价格。我们还提供上门取货服务，方便快捷。</p>
            </div>
            <!-- 图片 -->
            <div class="w-full md:w-1/2 transform md:rotate-3">
                <video class="w-full rounded-lg" src="./assets/image/servies/jew.mp4" autoplay muted loop controls></video>

<!--                <img src="./assets/image/servies/generated-image-1-3.jpg" alt="中古物品回收、贸易" class="w-full rounded-lg shadow-lg">-->
            </div>
        </div>
    </div>
    <!-- 轮播图 -->
    <div class="container mx-auto px-4 sm:px-6 pt-5">
        <div class="h-[20rem]">
            <div class="swiper gallery-top gallery-top-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-1-1.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-1-2.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-1-3.jpg')]"></div>
                </div>
            </div>
            <div class="swiper gallery-thumbs gallery-thumbs-1">
                <div class="swiper-wrapper">
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-1-1.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-1-2.jpg')]"></div>
                    <div class="swiper-slide h-ful bg-[url('./assets/image/servies/generated-image-1-3.jpg')]"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr />