<amp-state id="reportLogInfo">
	<script type="application/json">
		{
			"host": "unknown",
			"path": "/src"
		}
	</script>
</amp-state>
<amp-script layout="fixed-height" height="10" script="reportLog">
	<div>&nbsp;</div>
</amp-script>



<script id="reportLog" type="text/plain" target="amp-script">
	@@include('js/reportlog.amp.js')
</script>