body.gradient {
  background: radial-gradient(circle, #ece2e3 1px, transparent 1px);
  background-size: 5px 5px;
  color: #000;
}

h1 {
  font-weight: 700;
  color: #222222;
}

.header {
  border-bottom: 1px solid #f0f0f0;
}

main {
  max-width: 1140px;
  margin: 30px auto;
}

.time {
  color: #555555;
  font-size: 14px;
  margin: 23px auto;
}

.desc {
  color: #555555;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 24px;
}

.label,
.value {
  box-sizing: border-box;
  padding: 0 10px;
}

.label {
  color: #555555;
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 10px;
}

.value {
  color: #555555;
  font-size: 15px;
}
