<!-- 
	start 文章导航 
	注意，这里的 前一页pre，后一页next，需要根据条件渲染。
	所有的链接，也是需要条件渲染的。
-->
<nav class="bg-gray-100 p-4 rounded-lg shadow-md">
	<div class="nav-links flex justify-between items-center">
		<!-- 上一篇 -->
		<div class="nav-previous">
			<a class="prev flex items-center bg-blue   text-white font-semibold py-2 px-4 rounded-lg  "
				href="https://www.fanqiejsq.com/" rel="prev">
				<span class="mr-2">←</span> 前一篇文章
			</a>
		</div>
		<!-- 下一篇 -->
		<div class="nav-next">
			<a class="next flex items-center bg-blue   text-white font-semibold py-2 px-4 rounded-lg "
				href="https://www.fanqiejsq.com/" rel="next">
				后一篇文章 <span class="ml-2">→</span>
			</a>
		</div>
	</div>
</nav>


<!-- end 文章导航 -->