<div class="container mx-auto px-6 text-black">
	<nav class="flex flex-wrap items-center text-lg space-x-2" aria-label="面包屑">
		<!-- 首页 -->
		<a href="https://www.fanqiejsq.com/"
			class="breadcrumbs-link font-bold text-black  hover:text-red-400 transition relative after:content-['/'] after:text-white after:mx-2">
			首页
		</a>

		<!-- 影音加速器 -->
		<a href="https://www.fanqiejsq.com/category/%e5%bd%b1%e9%9f%b3%e5%8a%a0%e9%80%9f%e5%99%a8/"
			class="breadcrumbs-link  font-bold  text-black hover:text-red-400 transition relative after:content-['/'] after:text-white after:mx-2">
			影音加速器
		</a>

		<!-- 当前页面（无链接，不加分隔符） -->
		<span class="text-gray-800 text-sm">在澳大利亚打开海通证券很慢怎么办</span>
	</nav>
	<p class="text-sm  mt-2">2025-03-27</p>
</div>