body.gradient {
  color: #000;
  background: #fff;
}

h1 {
  color: #222222;
  font-size: 44px;
  font-weight: 400;
  margin-bottom: 20px;
}

h1 span {
  color: #333333;
  font-size: 20px;
  margin-left: 10px;
}
