<!-- start 用户反馈 -->
<section class="bg-white border-b py-8">
	<div class="container px-6 mx-auto mt-8">
		<div class="w-full my-2 ">
			<h2 class="text-lg font-bold leading-tight text-center text-gray-800"> 大家力荐番茄加速器</h2>
		</div>
		<div class="w-full mb-4">
			<div class="h-1 mx-auto gradient w-full opacity-25 my-0 py-0 rounded-t"></div>
		</div>
	</div>

	<div class="container px-6 mx-auto mt-2 mb-8 ">
		<div class="w-full flex flex-wrap  ">
			<div class="w-full flex md:w-1/2 lg:w-1/4 p-2 ">
				<div class="p-4  flex-1 bg-gradient-to-r from-indigo-50 to-blue-50  rounded-lg shadow-lg">
					<p class="text-sm text-gray-800">“德国留学生一枚，常年王者 荣耀延迟在300以上，尝试过 市面大部分回国加速器，都不 太稳定。 用番茄加速王者荣
						耀现在稳定延迟能在120左 右，在海外能有这样稳定的网 络我已经很满足了，墙裂推荐”</p>
					<div class="pt-2">
						<img class="w-32" src="/image/div.star-wrapper@2x-4.png" alt="" />
					</div>
					<div class="w-full flex items-cetner pt-2">
						<img class="w-16" src="/image/avatar/user-head-1@2x-1.webp" alt="" />
						<div class="flex flex-col flex-wrap items-center justify-center ">
							<span
								class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">芜湖下饭酱</span>
							<span class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">海外留学生
							</span>
						</div>

					</div>
				</div>

			</div>

			<div class="w-full flex  md:w-1/2 lg:w-1/4 p-2 ">
				<div class="p-4 flex-1 bg-gradient-to-r from-indigo-50 to-blue-50  rounded-lg shadow-lg">
					<p class="text-sm text-gray-800">
						在国外看国内视频网站，听网易云和Q音的歌都会有地区限制。用番茄加速器回国之后就能正常看剧听歌了，加载速度非常快，看超清妥妥的，而且不耗流量，用了快半年了没遇到过什么问题，五星好评！
					</p>
					<div class="pt-2">
						<img class="w-32" src="/image/div.star-wrapper@2x-4.png" alt="" />
					</div>
					<div class="w-full flex items-cetner pt-2">
						<img class="w-16" src="/image/avatar/user-head-3-1.png-1.png" alt="" />

						<div class="flex flex-col flex-wrap items-center justify-center ">
							<span
								class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">心如止水</span>
							<span class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">海外华人
							</span>
						</div>

					</div>
				</div>

			</div>

			<div class="w-full flex flex-col md:w-1/2 lg:w-1/4 p-2 ">
				<div class="p-4 flex-1 bg-gradient-to-r from-indigo-50 to-blue-50  rounded-lg shadow-lg">
					<p class="text-sm text-gray-800">
						海外小UP一枚~番茄加速器真的非常方便呀，可以在加速游戏同时加速虎牙直播、bilibili直播姬等应用，海外直播也不会受限制啦hhhh！速度还挺的，直播效果也不错，已推荐 其他UP用
					</p>
					<div class="pt-2">
						<img class="w-32" src="/image/div.star-wrapper@2x-4.png" alt="" />
					</div>
					<div class="w-full flex items-cetner pt-2">
						<img class="w-16" src="/image/avatar/user-head-2-1.png-1.png" alt="" />

						<div class="flex flex-col flex-wrap items-center justify-center ">
							<span
								class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">空色</span>
							<span class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">海外UP主
							</span>
						</div>

					</div>
				</div>

			</div>

			<div class="w-full flex flex-col  md:w-1/2 lg:w-1/4 p-2 ">
				<div class="p-4 flex-1 bg-gradient-to-r from-indigo-50 to-blue-50  rounded-lg shadow-lg">
					<p class="text-sm text-gray-800">在海外访问公司的国内服务器，必须要用这款加速器。另外平 时访问富途牛牛、通达信、雪球等软件都非常快速稳定，可以说是办公必备了。
					</p>
					<div class="pt-2">
						<img class="w-32" src="/image/div.star-wrapper@2x-4.png" alt="" />
					</div>
					<div class="w-full flex items-cetner pt-2">
						<img class="w-16" src="/image/avatar/user-head-4.webp" alt="" />
						<div class="flex flex-col flex-wrap items-center justify-center ">
							<span
								class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">一步两步望着天</span>
							<span class="flex flex-wrap items-center justify-center ml-2 text-base text-gray-800">海外社畜
							</span>
						</div>
					</div>
				</div>

			</div>
		</div>


	</div>
</section>
<!-- end 用户反馈 -->