<!-- 
	文章 
	图片所在的class为articles-img，这是可以用来替换资源的
-->
<li class="w-full md:w-1/2 p-4">
	<div class="articles-item  shadow-lg rounded-lg overflow-hidden border border-gray-200 bg-white p-4">
		<div class="articles-title mb-3">
			<a href="https://www.fanqiejsq.com/%e6%97%a5%e6%9c%ac%e6%80%8e%e4%b9%88%e6%89%93%e4%b8%8d%e5%bc%80%e5%a4%a7%e4%bc%97%e7%82%b9%e8%af%84/"
				class="text-lg font-semibold text-gray-900 hover:text-blue-600">
				<h2 class="truncate">日本怎么打不开大众点评？海外加速访问中国网站和应用的技术解决方案</h2>
			</a>
		</div>
		<div class="articles-img-box mb-3">
			<a
				href="https://www.fanqiejsq.com/%e6%97%a5%e6%9c%ac%e6%80%8e%e4%b9%88%e6%89%93%e4%b8%8d%e5%bc%80%e5%a4%a7%e4%bc%97%e7%82%b9%e8%af%84/">
				<img decoding="async" src="https://www.fanqiejsq.com/wp-content/uploads/2024/07/影视-长相思1.webp"
					alt="日本怎么打不开大众点评" class="articles-img w-full h-32 object-cover rounded-md">
			</a>
		</div>
		<div class="articles-desc text-gray-600 text-sm mb-3 cursor-pointer truncate">
			<a href="https://www.fanqiejsq.com/%e6%97%a5%e6%9c%ac%e6%80%8e%e4%b9%88%e6%89%93%e4%b8%8d%e5%bc%80%e5%a4%a7%e4%bc%97%e7%82%b9%e8%af%84/"
				class="text-blue-500 hover:text-blue-700 text-sm font-medium">日本用户访问大众点评可能会遇到限制，本文介绍了海外访问中国网站的解决方案。</a>

		</div>
		<div class="articles-footer ">
			<div class="w-full text-right">
				<a href="https://www.fanqiejsq.com/%e6%97%a5%e6%9c%ac%e6%80%8e%e4%b9%88%e6%89%93%e4%b8%8d%e5%bc%80%e5%a4%a7%e4%bc%97%e7%82%b9%e8%af%84/"
					class="text-blue-500 hover:text-blue-700 text-sm font-medium">查看详情 →</a>
			</div>
			<div>
				@@include('templates/htmlTpl/_spread-the-love.ejs')
			</div>
		</div>

	</div>
</li>