<!-- start 番茄加速器六大优势 不需要区分amp -->
<div class="container px-6 mx-auto text-center">
	<h2 class="text-xl font-bold  mb-2">番茄加速器六大优势</h2>
	<p class="text-lg  mb-4">满足你海外回国加速的各种需求，支持音视频、游戏、直播和办公等加速回国</p>
</div>
<!-- end 番茄加速器六大优势 -->