<!-- 
	start 公共的下载链接
	会有相应的js代码和他配合, 根据设备的 userAgent, 替换掉。com-down-link 的 href 属性
	amp有单独的模板。ampTpl/_com.down.link.amp.ejs
	在 amp 里面，会有两种写法，一种是dom操作法，一种是 bind 写法。所以，com-down-link 这个class不要轻易的更改。
 -->
<div class="fixed bottom-2 w-full">
	<section class="container mx-auto px-6 flex items-center justify-center ">
		<div class=" rounded-full down-btn-gradient bg-white w-full  lg:w-5/6 auto "
			style="animation: breathing 2s infinite;">
			<a class="to-download com-down-link w-full  inline-block text-white no-underline  hover:text-green-500	 hover:text-underline py-2 px-4"
				href="https://www.fanqiejsq.com/download/">番茄回国加速器,立即下载</a>
		</div>
	</section>
</div>
<!-- end 公共的下载链接 -->