<section class="container mx-auto px-8 pb-6 ">
	<div class="w-full mb-4">
		<div class="h-1 mx-auto gradient w-full  opacity-25 my-0 py-0 rounded-t"></div>
	</div>
	<div class="flex flex-col xl:flex-row flex-wrap items-center text-gray-800 gap-2 xl:gap-6 justify-center">
		<p>
			<span style="font-size: 14px;">
				友情链接：
				<a href="https://www.wetools.com" target="_blank" class="hover:text-red-400" rel="noopener">微工具
				</a>
				<a href="https://www.rocio-perez.com" target="_blank" class="hover:text-red-400"
					rel="noopener">回国游戏加速器</a>
			</span>
		</p>

		<p>
			<a href="https://www.centerfornaturalism.org/" target="_blank" rel="noopener" class="hover:text-red-400">
				<span style="font-size: 14px;">回国vpn </span>
			</a>
			<a href="https://www.huiguojiasuvpn.com/" target="_blank" rel="noopener" class="hover:text-red-400"><span
					style="font-size: 14px;">回国加速vpn </span>
			</a>
			<a href="https://www.jingzhunliang.com/" target="_blank" rel="noopener" class="hover:text-red-400"><span
					style="font-size: 14px;">海外回国加速器</span>
			</a>
		</p>
		<p><span style="font-size: 14px;">Copyright © 2023 番茄加速器 湖南精准量科技有限公司</span></p>
		<p><span style="font-size: 14px;">互联网虚拟专用网业务许可证 B1-20231050</span></p>
		<p><span style="font-size: 14px;">
				<a href="https://beian.miit.gov.cn/" target="_blank" rel="noopener nofollow"
					class="hover:text-red-400">湘ICP备2023004234号-2</a></span></p>
		<p><span style="font-size: 14px;"> APP备案号 湘ICP备2023004234号-3A</span></p>
	</div>
</section>