<div id="content" class="site-content">
	<div class="ast-container">


		<div id="primary" class="content-area primary">


			<main id="main" class="site-main">
				<article class="post-3306 page type-page status-publish ast-article-single" id="post-3306"
					itemtype="https://schema.org/CreativeWork" itemscope="itemscope">


					<header class="entry-header ast-no-thumbnail ast-no-title ast-header-without-markup">
					</header>


					<div class="entry-content clear">



						<main>
							<h1>应用权限</h1>
							<h2 class="label">
								隐私政策
							</h2>
							<p class="value">
								允许程序写入外部存储，如SD卡上写文件
							</p>
							<p class="label">
								完全的网络访问权限
							</p>
							<p class="value">
								允许该应用创建网络套接字和使用自定义网络协议。浏览器和其他某些应用提供了向互联网发送数据的途径，因此应用无需该权限即可向互联网发送数据
							</p>
							<p class="label">
								查看网络状态
							</p>
							<p class="value">
								允许应用程序查看所有网络的状态。例如存在和连接的网络
							</p>
							<p class="label">
								检索当前运行的应用程序
							</p>
							<p class="value">
								允许应用检索近期和当前运行的任务信息。此权限可让该应用了解设备上使用了哪些应用
							</p>
							<p class="label">
								读取系统日志文件
							</p>
							<p class="value">
								允许程序读取底层系统日志文件
							</p>
							<p class="label">
								查看WLAN状态
							</p>
							<p class="value">
								允许程序访问WLAN网络状态信息
							</p>
							<p class="label">
								修改系统设置
							</p>
							<p class="value">
								允许应用程序修改系统的设置数据
							</p>
							<p class="label">
								拍摄照片和视频
							</p>
							<p class="value">
								允许访问摄像头进行拍照或录制视频
							</p>
							<p class="label">
								更改WLAN状态
							</p>
							<p class="value">
								允许应用程序连接到WLAN接入点以及与WLAN接入点断开连接，并对配置的WLAN网络进行更改
							</p>
							<p class="label">
								更改网络连接
							</p>
							<p class="value">
								允许该应用更改网络连接的状态
							</p>
							<p class="label">
								获取设备信息
							</p>
							<p class="value">
								允许该应用获取设备信息作为标识
							</p>
							<p class="label">
								麦克风
							</p>
							<p class="value">
								允许使用麦克风与客服通话
							</p>
							<p class="label">
								位置权限
							</p>
							<p class="value">
								允许应用获取设备当前位置，此权限可以让用户更好的使用应用
							</p>
							<p class="label">
								检索当前安装的应用程序
							</p>
							<p class="value">
								允许应用检索本机已安装的应用程序信息
							</p>
							<p class="label">
								螺陀仪传感器信息
							</p>
							<p class="value">
								允许应用获取传感器信息，此权限辅助应用防止作弊
							</p>
						</main>


					</div><!-- .entry-content .clear -->



				</article><!-- #post-## -->

			</main><!-- #main -->


		</div><!-- #primary -->


	</div> <!-- ast-container -->
</div>