<!-- 
	start 文章导航 
	注意，这里的 前一页pre，后一页next，需要根据条件渲染。
	所有的链接，也是需要条件渲染的。
-->
<nav class="navigation pagination py-6 px-2" data-max-page="1538">

	<div class="nav-links flex justify-center items-center gap-2 sm:gap-4 flex-wrap">
		<span class="another-element"></span>
		<amp-state id="items">
			<script type="application/json">
			  [
			  {
				"country": "Nigeria",
				"city": "Lagos"
			  }
			  ]
			</script>
		</amp-state>

		<amp-list layout="fixed-height" height="40" [src]="items" [height]="items.length * 22" binding="no">
			<div>sss{{ city }}</div>
		</amp-list>




	</div>
</nav>
<!-- end 文章导航 -->