
.gradient-1 {
    background: linear-gradient(#d53369, #daae51);
}
.breadcrumbs-link:last-child:after {
    content: ''
}

.articles-item {
    box-shadow: 2px -2px 2px rgba(240, 240, 240, 0.9), 2px -4px 4px rgba(150, 130, 100, 0.6);
}

.aside-nav-item {
    box-shadow: 8px -4px 2px rgba(240, 240, 240, 0.9), 8px -6px 4px rgba(150, 130, 100, 0.6), -4px -4px 2px rgba(39, 13, 133, 0.9);
}