<!-- app下载 -->
<section class="bg-white border-b py-1 lg:py-8">
	<!-- max-w-5xl -->
	<div class="container px-6  mx-auto m-8">

		<div class="  w-full flex flex-wrap  justify-around		">

			<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
				href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8windows%E4%B8%8B%E8%BD%BD/">
				<img src="/image/down/_20231216161742-1.png" alt="Windows版" />
				<span class="">Windows版</span>
			</a>
			<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
				href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8mac%E4%B8%8B%E8%BD%BD/">
				<img src="/image/down/_20231216161731-1.png" alt="Windows版" />
				<span class="">macOS版</span>
			</a>
			<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
				href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8ios%E4%B8%8B%E8%BD%BD/">
				<img src="/image/down/_20231216161725-1.png" alt="Windows版" />
				<span class="">iOS版</span>
			</a>
			<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
				href="https://www.fanqiejsq.com/%E5%9B%9E%E5%9B%BD%E5%8A%A0%E9%80%9F%E5%99%A8android%E4%B8%8B%E8%BD%BD/">
				<img src="/image/down/_20231216161716-1.png" alt="Windows版" />
				<span class="">Android版</span>
			</a>
		</div>



	</div>
</section>
<!-- end app 下载 -->