.gradient {
  background: linear-gradient(90deg, #000000 0%, #1a237e 50%, #6200ea 100%);
}

.gradient-1 {
  background: linear-gradient(to bottom, #000000 0%, #1a237e 50%, #6200ea 100%);
}

/* .gradient {
	background: linear-gradient(90deg, #d53369 0%, #daae51 100%);
} */

/* 按钮渐变 */
.down-btn-gradient {
  background: linear-gradient(90deg, #f06d8e 0%, #f7c857 100%);
  /* background: linear-gradient(90deg, #d53369 0%, #f7c857 50%, #f06d8e 100%); */
  text-align: center;
}

.tomato__header-img {
  width: 1.75rem;
  height: 1.75rem;
}

.sub-menu {
  display: none;
  opacity: 0;
  top: 100%;

  transition: opacity 0.3s ease;
}

.sub-menu.show {
  display: block;
  opacity: 1;
}

/* 当父元素悬浮时，给 <a> 元素添加 hover 样式 */

@media (min-width: 1024px) {
  .sub-menu {
    width: 10rem;
  }

  .parent-menu-item:hover .sub-menu {
    display: block;
    opacity: 1;

    background-color: #fff;
  }

  .sub-menu-trigger-btn {
    fill: #fff;
  }
}

@media (max-width: 1023px) {
  .hover-effect:hover .toggleColour {
    color: #00ff00;
  }
}

@keyframes breathing {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 1;
  }
}
