<div class=" py-12 px-4 sm:px-6 lg:px-8">
	<!-- 标题和描述 -->
	<div class="max-w-3xl mx-auto text-center mb-12">
		<h2 class="text-xl font-extrabold text-white">
			支持更多游戏
		</h2>
		<p class="mt-4 text-base text-white">
			番茄加速器助力海外华人高速访问国内网络，快速开启国内各直播平台，解决国内视频、音乐卡顿问题；更能加速海量国服游戏，超低延迟稳定不掉线，畅享国内网络！
		</p>
	</div>
	<!-- 游戏列表 -->
	<div class="flex flex-row flex-wrap justify-around gap-4">
		<div
			class=" game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>原神
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			和平精英
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			王者荣耀
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			明日方舟
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			崩坏3rd
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			QQ飞车
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			五行师
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			量子特攻
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			少女前线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			我的起源
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>猎人
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			QQ炫舞
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			召唤与合成
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			剑与远征
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			航海王热血航线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			命运方舟
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			天龙八部
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			荒野乱斗
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			率土之滨
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			梦幻西游
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			一人之下
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			火影忍者
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			新诛仙
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			欢乐麻将全集
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			王国纪元
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			弹弹堂
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			拳皇98OL
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			天下-异兽山海
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			猫和老鼠
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			三国杀
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			QQ炫舞
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			仙剑奇侠传移动版
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			热血传奇
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			古今江湖
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			月圆之夜
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			江南百景图
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			召唤与合成
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			魔渊之刃
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			最强蜗牛
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			龙之谷2
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			复苏的魔女
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			光与夜之恋
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			幻书启示录
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			英雄联盟
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			守望先锋
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			坏学园2(混服)
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			决战!平安京
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>高手
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			三国杀 online
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			云上城之歌
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			王国保卫战4
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			我的世界
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			守望黎明
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			绝地求生: 未来之役
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			光与夜之恋
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			黑色幸存者
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>水寒
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			坏学2
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			第五人格
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			光明大陆
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			野乱斗
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			宝可梦大探险
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			宝可梦大探险
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			元气骑士
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			穿越火线: 枪战王者
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			暗区实围
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>剑行
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>艾希
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			食之契约
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			失落城堡
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			一梦江湖
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			碧蓝航线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			星战前夜
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			装甲战争
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			魔兽世界怀日服
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			永劫无间
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			魔兽世界
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			炉石传说
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			使命召唤OL
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			冒险鸟2
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			篮球在线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			装甲风暴
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			奇迹MU
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			古剑奇谭OL
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<amp-img layout="fixed" width="15" height="16"  class="mr-1 md:mr-2"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器"></amp-img>
			坦克世界
		</div>
	</div>
</div>