<div class="scene-list flex flex-wrap justify-center px-4 lg:px-8">
	<div class="relative flex flex-col items-center justify-center w-[48%] lg:w-[23%] p-2  ">

		<div class="relative">
			<img decoding="async" src="https://www.fanqiejsq.com/wp-content/uploads/imgs/scene/game-scene-1.webp"
				alt="番茄加速器">
			<div
				class=" absolute z-10 bottom-0 left-0 w-full   p-4 name text-center text-base bg-[rgba(0,0,0,0.5)] text-white">
				国服游戏</div>
		</div>

	</div>

	<div class="relative flex flex-col items-center justify-center w-[48%] lg:w-[23%]  p-2">
		<div class="relative">
			<img decoding="async" src="https://www.fanqiejsq.com/wp-content/uploads/imgs/scene/game-scene-2.webp"
				alt="番茄加速器">
			<div
				class="absolute z-10 bottom-0 left-0 w-full   p-4 name text-center text-base bg-[rgba(0,0,0,0.5)] text-white">
				视频音乐</div>
		</div>

	</div>

	<div class="relative flex flex-col items-center justify-center w-[48%] lg:w-[23%]  p-2">

		<div class="relative">
			<img decoding="async" src="https://www.fanqiejsq.com/wp-content/uploads/imgs/scene/game-scene-3.webp"
				alt="番茄加速器">
			<div
				class="absolute z-10 bottom-0 left-0 w-full   p-4 name text-center text-base bg-[rgba(0,0,0,0.5)] text-white">
				直播推广</div>
		</div>

	</div>

	<div class="relative flex flex-col items-center justify-center w-[48%] lg:w-[23%]  p-2">
		<div class="relative">
			<img decoding="async" src="https://www.fanqiejsq.com/wp-content/uploads/imgs/scene/game-scene-4.webp"
				alt="番茄加速器">
			<div
				class="absolute z-10 bottom-0 left-0 w-full   p-4 name text-center text-base bg-[rgba(0,0,0,0.5)] text-white">
				办公学习</div>
		</div>

	</div>
</div>