<!-- 顶部 -->
<section class="bg-gray-100  px-6 lg:px-12  py-8 pt-16 lg:pt-24">
	<div class="container px-2 lg:pl-12 lg:pr-4 mx-auto flex flex-wrap flex-col lg:flex-row items-center">
		<!--Left Col-->
		<div class="flex flex-1 flex-col lg:pr-12 lg:pl-2 w-full justify-center items-start text-center md:text-left">
			<!-- <p class="uppercase tracking-loose w-full">What business are you?</p> -->
			<h1 class="my-4 text-lg lg:text-2xl font-bold leading-tight">
				番茄-游戏回国加速
			</h1>
			<p class="leading-normal text-base mb-4 lg:text-base">
				身在海外玩国服游戏延迟高经常掉线？使用番茄加速器，一键回国游戏加速，极速稳定不丢包，完美支持加速Window、iOS、Android多平台使用，王者荣耀、和平精英、英雄联盟、魔兽世界等国服游戏，玩游戏同时还支持YY语音、听音乐、看视频。
			</p>
			<div class="w-full flex-1 flex items-center justify-center  rounded-b rounded-t-none overflow-hidden  ">
				<a href="https://www.fqhgvpn.com/download/"
					class="to-download com-down-link mx-auto lg:mx-0  gradient text-base text-white font-bold rounded-full  py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
					一键加速国服应用和游戏
				</a>
			</div>
		</div>
		<!--Right Col-->
		<div class="w-full lg:w-auto px-2  pt-2 pb-6 lg:py-6 text-center flex justify-center items-center">
			<!-- style="max-width: 424px; max-height: 290px;" -->
			<img class="w-full md:w-4/5  z-10" style="width: 550px; max-width: min(480px, 100%); "
				src="/image/game/game-col-1.webp" />
		</div>
	</div>
</section>