
<div>
    <div class="container px-6 mx-auto m-8 ">
        <div>
            this is banner

        </div>
        <div>
            <p> 先把几个页面架子搭起来再说</p>
            <p>
                首页的几个模块差不多就长这样，品牌理念那里，应该是这样的，pc端
            </p>
            <p>
                品牌
            </p>
        </div>
    </div>
</div>