<!-- 业务简介 -->
<section class="bg-white border-b py-8">
    <div class="container px-6 mx-auto m-8">

        <!--   中古物品回收贸易    -->
        <div class="flex flex-wrap items-center">
            <div class="w-full lg:w-1/2 p-6">
                <h3 class="text-lg text-gray-800 font-bold leading-none mb-3"> 中古物品回收贸易 </h3>
                <p class="text-gray-600 mb-2">xxxxxxxxxxxxxx </p>
            </div>
            <div class="w-full lg:w-1/2 p-6 flex items-center justify-center">
                <img
                        style="max-width: min(440px, 100%);"
                        class="w-full max-w-[400px] mx-auto"
                        src="/assets/image/home/home_section_1_1.jpg"
                        alt="一键加速，不限流量，超稳定"
                />
            </div>
        </div>

        <!--    高端珠宝设计贩卖    -->
        <div class="flex flex-wrap flex-col-reverse lg:flex-row	items-center">

            <div class="w-full lg:w-1/2 p-6 items-center justify-center">
                <img
                        style="max-width: min(440px, 100%);"
                        class="w-full max-w-[400px] mx-auto"
                        src="/assets/image/home/home_section_1_1.jpg"
                        alt="一键加速，不限流量，超稳定"
                />
            </div>
            <div class="w-full lg:w-1/2 p-6">
                <h3 class="text-lg text-gray-800 font-bold leading-none mb-3"> 高端珠宝设计贩卖 </h3>
                <p class="text-gray-600 mb-2">xxx长，满足各个地区和国家的加速需求。 </p>
            </div>

        </div>

        <div class="flex flex-wrap items-center">
            <div class="w-full lg:w-1/2 p-6">
                <h3 class="text-lg text-gray-800 font-bold leading-none mb-3"> 高端私人健身指导 </h3>
                <p class="text-gray-600 mb-2">xxxxxxx </p>
            </div>
            <div class="w-full lg:w-1/2 p-6 flex tems-center justify-center">
                <img
                        style="max-width: min(440px, 100%);"
                        class="w-full max-w-[400px] mx-auto"
                        src="/assets/image/home/home_section_1_1.jpg"
                        alt="一键加速，不限流量，超稳定"
                />
            </div>
        </div>

        <!--   水下机器人租赁    -->
        <div class="flex flex-wrap flex-col-reverse lg:flex-row	items-center">


            <div class="w-full lg:w-1/2 p-6 flex tems-center justify-center">
                <img
                        style="max-width: min(440px, 100%);"
                        class="w-full max-w-[400px] mx-auto"
                        src="/assets/image/home/home_section_1_1.jpg"
                        alt="一键加速，不限流量，超稳定"
                />
            </div>
            <div class="w-full lg:w-1/2 p-6">
                <h3 class="text-lg text-gray-800 font-bold leading-none mb-3"> 水下机器人租赁 </h3>
                <p class="text-gray-600 mb-2">xxxxxxx </p>
            </div>
        </div>

    </div>
</section>
