<!-- 经营理念 -->
<section class="border-b py-1 lg:py-8 bg-amber-50">
    <div class="container px-6 mx-auto m-8 ">
        <div class="flex lg:flex-row  flex-col  justify-between items-center">
            <div class="lg:w-1/2 w-full break-all flex flex-col justify-between">
                <div class="w-full text-center font-bol	  text-gold pb-4">经营理念</div>

                <div class="w-full text-center text-black mb-4 pr-2">
                    <div>
                    </div>
                    <ul>
                        <li>
                            <span>精益求精</span>
                            <span>——</span>
                            以极致态度打磨产品与服务，细节成就卓越。
                        </li>
                        <li>
                            <span>突破边界</span>
                            <span>——</span>
                            <span>拒绝平庸，用创新思维重构行业标准。</span>

                        </li>
                        <li>
                            <span>价值共生</span>
                            <span>——</span>
                            <span>
                            与客户、员工、伙伴共享成长，实现多维共赢。

                            </span>
                        </li>
                        <li>
                            <span>长期主义</span>
                            <span>——</span>
                            <span>
                                不做短视追逐，专注可持续的竞争力与影响力。
                            </span>
                        </li>
                    </ul>

                </div>
            </div>

            <div class="lg:w-1/2  w-full">
                <img
                        class="w-full max-w-[600px] mx-auto"
                        src="./assets/image/home/home_section_1_1.jpg"
                        alt="一键加速，不限流量，超稳定"
                />
            </div>
        </div>

    </div>
</section>