
<!-- 经营理念 -->
<section class="border-b py-1 lg:py-8 bg-amber-50">
    <div class="container px-6 mx-auto m-8 ">
        <div class="w-full text-left text-bold text-black">经营理念</div>
        <div class="flex lg:flex-row  flex-col  justify-between items-center">
            <div class="lg:w-1/2 w-full break-all flex flex-col justify-between">

                <div class="w-full text-left text-black mb-4 pr-2">
                    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                </div>
            </div>

            <div  class="lg:w-1/2  w-full">
                <img
                        class="w-full max-w-[600px] mx-auto"
                        src="./assets/image/home/home_section_1_1.jpg"
                        alt="一键加速，不限流量，超稳定"
                />
            </div>
        </div>

    </div>
</section>