
<!-- 公司介绍 -->
<section class="border-b py-1 lg:py-8 bg-amber-100">
    <div class="container px-6 mx-auto m-8 ">
        <div class="w-full text-left text-bold text-black">品牌理念</div>
        <div class="w-full text-left text-black mb-4">xxxxx</div>

        <!-- 两列，中间 8（=2rem）空档，永不换行 -->
        <div class="grid grid-cols-3 gap-x-8">

            <img
                    class="w-full max-w-[400px] mx-auto"
                    src="/assets/image/home/home_section_1_1.jpg"
                    alt="一键加速，不限流量，超稳定"
            />
            <img
                    class="w-full max-w-[400px] mx-auto"
                    src="/assets/image/home/home_section_1_1.jpg"
                    alt="一键加速，不限流量，超稳定"
            />
            <img
                    class="w-full max-w-[400px] mx-auto"
                    src="/assets/image/home/home_section_1_1.jpg"
                    alt="一键加速，不限流量，超稳定"
            />

        </div>
    </div>
</section>