
<!-- 公司介绍 -->
<section class="border-b py-1  lg:py-8  bg-[#faf9f7]">
    <div class="container px-6 mx-auto m-8 ">
        <div class="w-full text-center font-bold text-gold pb-4 " data-i18n="index.intro.title">公司介绍</div>
        <div class="w-full text-center text-black mb-4">
            <p class="text-left" data-i18n="index.intro.description1">
                越 etuc 是一家致力于创新与品质的新锐企业，专注于为客户提供前沿的解决方案和卓越的服务体验。我们以“超越期待，智创未来”为核心，融合科技与人文，打造兼具实用性与美感的品牌生态。

            </p>
            <p class="text-left" data-i18n="index.intro.description2">
                etuc 取自“Exceed Towards Unique Creativity”（超越，迈向独特创造），寓意我们不断突破界限，追求卓越。公司业务涵盖【可根据实际业务补充，如科技研发、创意设计、品牌咨询、数字营销等】，致力于成为行业中的引领者，为客户、合作伙伴及社会创造长期价值。

            </p>

        </div>

        <!-- 两列，中间 8（=2rem）空档，永不换行 -->
        <div class="grid grid-cols-2 gap-x-4">

            <img
                    class="w-full h-full max-w-[600px] mx-auto"
                    src="./assets/image/home/home_section_1_1.jpg"
                    alt=""
            />
            <img
                    class="w-full h-full max-w-[600px] mx-auto"
                    src="./assets/image/home/home_section_1_2.jpg"
                    alt=""
            />
        </div>
    </div>
</section>