<section class="bg-gray-100 border-b py-8">
	<div class="study-content-box container px-6 mx-auto m-8">
		<!-- start one -->
		<div class="study-content-box-item flex flex-wrap items-center">
			<div class="w-full lg:w-1/2 p-6 animate-fade-in lg:animate-slide-left">
				<h3 class="text-lg text-blue-900 font-bold leading-none mb-3">
					回国游戏加速器，加速所有国服游戏
				</h3>
				<p class="text-gray-700 mb-2">
					处异国他乡的你，玩国服游戏延迟高，经常掉线？番茄回国游戏加速器，全球直连专线，专业回国游戏线路，一键加速国服游戏，降低海外延迟，极速稳定不丢包，加速王者荣耀、和平精英、LOL英雄联盟
					、魔兽世界、原神、我的世界、永劫无间、阴阳师、逆水寒、剑网3、CF穿越火线、无畏契约等游戏，在海外也能享受和国内一样的游戏体验！
				</p>
				<div class="flex-1 flex items-center justify-center rounded-b rounded-t-none overflow-hidden">
					<a class="to-download com-down-link mx-auto lg:mx-0 bg-gradient-to-r from-green-400 via-teal-500 to-blue-600 text-white font-bold rounded-full py-2 px-10 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
						href="https://www.fanqiejsq.com/download/">立即安装</a>
				</div>
			</div>
			<div class="w-full lg:w-1/2 p-6 flex items-center justify-center animate-fade-in lg:animate-slide-right">
				<img src="https://www.fanqiejsq.com/wp-content/uploads/2023/12/Frame-46-1.webp" alt="回国VPN使用方法" />
			</div>
		</div>
		<!-- end one  -->

		<!-- start two -->
		<div class="study-content-box-item flex flex-wrap lg:flex-row-reverse items-center">
			<div class="w-full lg:w-1/2 p-6 animate-fade-in lg:animate-slide-right">
				<h3 class="text-lg text-blue-900 font-bold leading-none mb-3">
					一键加速，不限流量，超稳定
				</h3>
				<p class="text-gray-700 mb-2">
					番茄回国加速器使用独创的边缘节点技术加速，服务器智能分流，按需加速回国，效果稳定快速回国。在全球提供上百条高速线路，实时监控带宽流量动态调整，保证节点通道畅通，不限流量，不限时长，满足各个地区和国家的加速需求。
				</p>
				<div class="flex-1 flex items-center justify-center rounded-b rounded-t-none overflow-hidden">
					<a class="to-download com-down-link mx-auto lg:mx-0 bg-gradient-to-r from-green-400 via-teal-500 to-blue-600 text-white font-bold rounded-full py-2 px-10 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
						href="https://www.fanqiejsq.com/download/">免费开启加速</a>
				</div>
			</div>
			<div class="w-full lg:w-1/2 p-6 items-center justify-center animate-fade-in lg:animate-slide-left">
				<img style="max-width: min(400px, 100%);"
					src="https://www.fanqiejsq.com/wp-content/uploads/2023/12/Group-8@2x-1.webp" alt="一键加速，不限流量，超稳定" />
			</div>
		</div>
		<!-- end two -->

		<!-- start three -->
		<div class="study-content-box-item flex flex-wrap items-center">
			<div class="w-full lg:w-1/2 p-6 animate-fade-in lg:animate-slide-left">
				<h3 class="text-lg text-blue-900 font-bold leading-none mb-3">
					全平台支持，随时随地回国
				</h3>
				<p class="text-gray-700 mb-2">
					番茄加速器现已全面支持苹果iPhone & iPad移动设备、Android手机、Windows PC系列、苹果macOS电脑。确保您在任何一个设备和平台上都可以顺畅加速回国。
				</p>
				<div class="flex-1 flex items-center justify-center rounded-b rounded-t-none overflow-hidden">
					<a class="to-download com-down-link mx-auto lg:mx-0 bg-gradient-to-r from-green-400 via-teal-500 to-blue-600 text-white font-bold rounded-full py-2 px-10 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
						href="https://www.fanqiejsq.com/download/">下载免费使用</a>
				</div>
			</div>
			<div class="w-full lg:w-1/2 p-6 flex items-center justify-center animate-fade-in lg:animate-slide-right">
				<img style="max-width: min(440px, 100%);"
					src="https://www.fanqiejsq.com/wp-content/uploads/2023/12/Group-9@2x-1.webp" alt="回国VPN使用方法" />
			</div>
		</div>
		<!-- end three  -->
	</div>
</section>