<!-- start 番茄加速器六大优势 里面有图片等资源，需要区分amp模板，引入的时候，看清楚 -->
<div class="container px-6 mx-auto text-center flex flex-wrap md:flex-row text-black">
    <!-- Advantage Item 1 -->
    <div class="w-full lg:w-1/2 p-2 ">
        <div
            class="advantage-item w-full bg-white p-2 md:p-4  rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center h-full">
            <div class="title mb-1 flex items-center">
                <amp-img src="/image/advantage/advantage1.webp" alt="番茄加速器" width="40" height="40" layout="fixed"
                    class="w-10 h-10  mr-2">
                </amp-img>
                <h3 class="text-lg font-semibold">全球精选专线</h3>
            </div>
            <div class="desc text-gray-600 text-sm">
                提供全球海量专业回国线路,不断升级维护提高带宽,满足任何地区和国家的海外华人回国加速需求
            </div>
        </div>
    </div>

    <!-- Advantage Item 2 -->
    <div class="w-full lg:w-1/2 p-2 ">
        <div
            class="advantage-item w-full bg-white p-2 md:p-4  rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center h-full">
            <div class="title mb-1 flex items-center">
                <amp-img src="/image/advantage/advantage2.webp" alt="番茄加速器" width="40" height="40" layout="fixed"
                    class="w-10 h-10  mr-2">
                </amp-img>
                <h3 class="text-lg font-semibold">全平台支持</h3>
            </div>
            <div class="desc text-gray-600 text-sm">
                支持iOS、Android、Mac、Windows、TV多平台安装使用,最多支持个人3台设备同时运行
            </div>
        </div>
    </div>

    <!-- Advantage Item 3 -->
    <div class="w-full lg:w-1/2 p-2 ">
        <div
            class="advantage-item w-full bg-white p-2 md:p-4  rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center h-full">
            <div class="title mb-1 flex items-center">
                <amp-img src="/image/advantage/advantage3.webp" alt="番茄加速器" width="40" height="40" layout="fixed"
                    class="w-10 h-10  mr-2">
                </amp-img>
                <h3 class="text-lg font-semibold">多场景支持</h3>
            </div>
            <div class="desc text-gray-600 text-sm">
                满足多需求场景，音视频、游戏、直播随意切换，独创增强模式,玩国服游戏也可以直播,听音乐
            </div>
        </div>
    </div>

    <!-- Advantage Item 4 -->
    <div class="w-full lg:w-1/2 p-2 ">
        <div
            class="advantage-item w-full bg-white p-2 md:p-4  rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center h-full">
            <div class="title mb-1 flex items-center">
                <amp-img src="/image/advantage/advantage4.webp" alt="番茄加速器" width="40" height="40" layout="fixed"
                    class="w-10 h-10  mr-2">
                </amp-img>
                <h3 class="text-lg font-semibold">游戏加速</h3>
            </div>
            <div class="desc text-gray-600 text-sm">
                精选回国游戏加速线路，加速各类国服游戏，低延迟超稳定，一个账号多平台使用。手游端游一键加速
            </div>
        </div>
    </div>

    <!-- Advantage Item 5 -->
    <div class="w-full lg:w-1/2 p-2 ">
        <div
            class="advantage-item w-full bg-white p-2 md:p-4  rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center h-full">
            <div class="title mb-1 flex items-center">
                <amp-img src="/image/advantage/advantage5.webp" alt="番茄加速器" width="40" height="40" layout="fixed"
                    class="w-10 h-10 mb-2 mr-4">
                </amp-img>
                <h3 class="text-lg font-semibold">无限流量</h3>
            </div>
            <div class="desc text-gray-600 text-sm">
                所有用户不做任何流量限制,无需因为流量不够而焦虑,并且永久无广告,给您舒适的使用体验
            </div>
        </div>
    </div>

    <!-- Advantage Item 6 -->
    <div class="w-full lg:w-1/2 p-2 ">
        <div
            class="advantage-item w-full bg-white p-2 md:p-4  rounded-lg shadow-lg hover:shadow-2xl transition-shadow duration-300 flex flex-col items-center h-full">
            <div class="title mb-1 flex items-center">
                <amp-img src="/image/advantage/advantage6.webp" alt="番茄加速器" width="40" height="40" layout="fixed"
                    class="w-10 h-10  mr-2">
                </amp-img>
                <h3 class="text-lg font-semibold">全方位客服支持</h3>
            </div>
            <div class="desc text-gray-600 text-sm">
                专业的客服服务，多年经验任何使用问题都可得到及时回复与解决，保障每一位用户的加速体验
            </div>
        </div>
    </div>
</div>
<!-- start 番茄加速器六大优势 需要区分amp -->