<!-- start header -->
<nav id="header" class="fixed gradient w-full z-30 top-0 text-white">
    <div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">
        <div class="pl-4 flex items-center">
            <a class="toggleColour text-white no-underline hover:no-underline  font-bold text-2xl lg:text-4xl flex items-center"
                href="/pages/home/index.amp.html">
                <!--Icon from: http://www.potlabicons.com/ -->
                <amp-img src="/image/logox512.webp" layout="responsive" width="512" height="512"
                    class="tomato__header-img w-28rem" alt="番茄加速器"></amp-img>
                <span class="ml-1 inline-block lg:h-[45px]">番茄加速器</span>
            </a>
        </div>
        <div class="block lg:hidden pr-4">
            <button id="nav-toggle"
                class="flex items-center p-1 text-pink-800 hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
                on="tap:AMP.setState({navState: {expand: !navState.expand}})">
                <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
        </div>
        <div class="w-full flex-grow  lg:flex lg:items-center lg:w-auto hidden mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20"
            id="nav-content" role="button" tabindex="0"
            [class]="' w-full flex-grow lg:flex lg:items-center lg:w-auto mt-2 lg:mt-0 bg-white lg:bg-transparent text-black p-4 lg:p-0 z-20 ' + (navState.expand ? 'show' : 'hidden')"
            on="tap:AMP.setState({navState: {expand: true}})">

            <ul class="list-reset lg:flex justify-end flex-1 items-center ">
                <!-- <li class="mr-3">
                    <a class="inline-block py-2 px-4 text-black font-bold no-underline" href="#">Active</a>
                </li> -->
                <li>
                    <a class="to-download com-down-link w-full toggleColour inline-block text-black lg:text-white no-underline hover:text-green-500	 hover:text-underline py-2 px-4"
                        href="https://www.fqhgvpn.com/download/">客户端下载</a>
                </li>
                <li class="">
                    <a class="w-full toggleColour inline-block text-black lg:text-white no-underline  hover:text-green-500	 hover:text-underline py-2 px-4"
                        href="/pages/vip/vip.amp.html">购买VIP</a>
                </li>
                <li class="relative parent-menu-item">
                    <div class="flex justify-between hover-effect group">
                        <a class="toggleColour touch-manipulation lg:inline-block text-black lg:text-white no-underline hover:text-green-500	 hover:text-underline py-2 px-4"
                            href="/pages/game-booster/game-booster.amp.html" title="使用番茄">
                            使用番茄
                        </a>
                        <span id="show_sub_menu"
                            class="sub-menu-trigger-btn ast-icon icon-arrow flex h-10  flex-1 items-center justify-end text-right px-4 py-3 cursor-pointer"
                            role="button" tabindex="0"
                            on="tap:AMP.setState({navState: {'submenuexpand': !navState.submenuexpand}})">
                            <svg class="ast-arrow-svg" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="12px"
                                height="16.043px" viewBox="57 35.171 26 16.043"
                                enable-background="new 57 35.171 26 16.043" xml:space="preserve">
                                <path d="M57.5,38.193l12.5,12.5l12.5-12.5l-2.5-2.5l-10,10l-10-10L57.5,38.193z">
                                </path>
                            </svg>
                        </span>
                    </div>

                    <!-- start 子菜单  -->
                    <div id="sub_menu_3" class="sub-menu relative lg:absolute bg-white"
                        [class]="'sub-menu relative lg:absolute bg-white ' + (navState.submenuexpand ? 'show' : 'hidden')">
                        <ul class="sub-menu-inner flex flex-col gap-2 p-2 pl-10 lg:p-4">
                            <li class="menu-item menu-item-type-post_type w-full menu-item-25975">
                                <a href="/pages/game-booster/game-booster.amp.html" aria-current="page"
                                    class="sub-menu-link w-full inline-block hover:text-red-400	">
                                    游戏加速
                                </a>
                            </li>
                            <li class="menu-item menu-item-type-post_type w-full menu-item-25975">
                                <a href="/pages/study/study.amp.html"
                                    class="sub-menu-link w-full inline-block hover:text-red-400	">
                                    海外留学</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type w-full menu-item-25970">
                                <a href="/pages/overseas/overseas.amp.html"
                                    class="sub-menu-link w-full inline-block hover:text-red-400	">
                                    海外华人</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type w-full menu-item-25974">
                                <a href="/pages/travel/travel.amp.html"
                                    class="sub-menu-link w-full inline-block hover:text-red-400	">
                                    出国旅行</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type w-full menu-item-25971">
                                <a href="/pages/office/office.amp.html"
                                    class="sub-menu-link w-full inline-block hover:text-red-400	">
                                    海外办公</a>
                            </li>
                            <li class="menu-item menu-item-type-post_type w-full menu-item-25972">
                                <a href="/pages/live/live.amp.html"
                                    class="sub-menu-link w-full inline-block hover:text-red-400	">
                                    海外直播</a>
                            </li>
                        </ul>
                    </div>
                    <!-- end 子菜单 -->
                </li>
                <li class="cursor-pointer">
                    <a class="w-full toggleColour inline-block text-black lg:text-white no-underline hover:text-green-500	 hover:text-underline py-2 px-4"
                        href="/pages/media-accel-list/media-accel-list.amp.html">影音加速器</a>

                </li>
                <li class="cursor-pointer">
                    <a class="w-full toggleColour inline-block text-black lg:text-white no-underline hover:text-green-500	 hover:text-underline py-2 px-4"
                        href="/pages/media-accel-list/media-accel-list.amp.html">加速国内游戏</a>
                </li>
                <li class="cursor-pointer">
                    <a class="w-full toggleColour inline-block text-black lg:text-white no-underline hover:text-green-500	 hover:text-underline py-2 px-4"
                        href="/pages/media-accel-list/media-accel-list.amp.html">翻回国内VPN</a>
                </li>
            </ul>
            <!-- <button id="navAction"
                class="mx-auto lg:mx-0  bg-white text-gray-800 font-bold rounded-full mt-4 lg:mt-0 py-4 px-8 shadow opacity-75 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
                Action
            </button> -->
        </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</nav>
<!-- end header -->