<div class="rights-comparison border border-gray-300 text-sm text-center">
	<!-- 表头 -->
	<div class="flex  border-b rounded-sm border-gray-300 text-base font-bold bg-gray-100">
		<div class=" p-2 flex-1  text-gray-700">功能特权</div>
		<div class=" p-2 flex-1 text-gray-700 bg-blue-100 font-bold">游戏+影音会员</div>
		<div class=" p-2 flex-1 text-gray-700">影音会员</div>
	</div>

	<!-- 第一组 -->
	<div class="flex items-center border-b border-gray-300">
		<div class="p-2 flex-1 text-gray-800">全平台支持</div>
		<div class=" p-2 flex-1 bg-blue-50 font-bold"><span class="vip-icon has"></span></div>
		<div class=" p-2 flex-1"><span class="vip-icon has"></span></div>
	</div>

	<!-- 第二组 -->
	<div class="flex items-center border-b border-gray-300 bg-white">
		<div class="p-2 flex-1 text-gray-800">多种流媒体服务访问解锁</div>
		<div class=" p-2 flex-1 bg-blue-50 font-bold"><span class="vip-icon has"></span></div>
		<div class=" p-2 flex-1"><span class="vip-icon has"></span></div>
	</div>

	<!-- 第三组 -->
	<div class="flex items-center border-b border-gray-300">
		<div class="p-2 flex-1 text-gray-800">全球跨境专线骨干网络</div>
		<div class=" p-2 flex-1 bg-blue-50 font-bold"><span class="vip-icon has"></span></div>
		<div class=" p-2 flex-1"><span class="vip-icon no"></span></div>
	</div>

	<!-- 第四组 -->
	<div class="flex items-center border-b border-gray-300 bg-white">
		<div class="p-2 flex-1 text-gray-800">多运营商优化连接</div>
		<div class=" p-2 flex-1 bg-blue-50 font-bold"><span class="vip-icon has"></span></div>
		<div class=" p-2 flex-1"><span class="vip-icon no"></span></div>
	</div>

	<!-- 第五组 -->
	<div class="flex items-center border-b border-gray-300">
		<div class="p-2 flex-1 text-gray-800">同时在线设备数</div>
		<div class=" p-2 flex-1 bg-blue-50  text-blue-600">2个设备</div>
		<div class=" p-2 flex-1 text-blue-600">2个设备</div>
	</div>

	<!-- 第六组 -->
	<div class="flex items-center border-b border-gray-300 bg-white">
		<div class="p-2 flex-1 text-gray-800">游戏加速</div>
		<div class=" p-2 flex-1 bg-blue-50 font-bold text-blue-600">游戏专线</div>
		<div class=" p-2 flex-1 text-gray-500"><span class="vip-icon no"></span></div>
	</div>

	<!-- 第七组 -->
	<div class="flex items-center border-b border-gray-300">
		<div class="p-2 flex-1 text-gray-800">影音加速</div>
		<div class=" p-2 flex-1 bg-blue-50  text-blue-600">极速4K</div>
		<div class=" p-2 flex-1 text-blue-600">极速4K</div>
	</div>

	<!-- 第八组 -->
	<div class="flex items-center border-b border-gray-300 bg-white">
		<div class="p-2 flex-1 text-gray-800">全局模式</div>
		<div class=" p-2 flex-1 bg-blue-50 font-bold"><span class="vip-icon has"></span></div>
		<div class=" p-2 flex-1"><span class="vip-icon no"></span></div>
	</div>
</div>