<div class=" py-12 px-4 sm:px-6 lg:px-8">
	<!-- 标题和描述 -->
	<div class="max-w-3xl mx-auto text-center mb-12">
		<h2 class="text-xl font-extrabold text-white">
			支持更多游戏
		</h2>
		<p class="mt-4 text-base text-white">
			番茄加速器助力海外华人高速访问国内网络，快速开启国内各直播平台，解决国内视频、音乐卡顿问题；更能加速海量国服游戏，超低延迟稳定不掉线，畅享国内网络！
		</p>
	</div>
	<!-- 游戏列表 -->
	<div class="flex flex-row flex-wrap justify-around gap-4">
		<div
			class=" game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />原神
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />和平精英
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />王者荣耀
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />明日方舟
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />崩坏3rd
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />QQ飞车
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />五行师
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />量子特攻
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />少女前线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />我的起源
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />猎人
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />QQ炫舞
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />召唤与合成
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />剑与远征
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />航海王热血航线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />命运方舟
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />天龙八部
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />荒野乱斗
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />率土之滨
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />梦幻西游
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />一人之下
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />火影忍者
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />新诛仙
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />欢乐麻将全集
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />王国纪元
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />弹弹堂
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />拳皇98OL
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />天下-异兽山海
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />猫和老鼠
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />三国杀
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />QQ炫舞
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />仙剑奇侠传移动版
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />热血传奇
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />古今江湖
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />月圆之夜
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />江南百景图
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />召唤与合成
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />魔渊之刃
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />最强蜗牛
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />龙之谷2
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />复苏的魔女
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />光与夜之恋
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />幻书启示录
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />英雄联盟
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />守望先锋
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />坏学园2(混服)
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />决战!平安京
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />高手
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />三国杀 online
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />云上城之歌
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />王国保卫战4
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />我的世界
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />守望黎明
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />绝地求生: 未来之役
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />光与夜之恋
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />黑色幸存者
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />水寒
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />坏学2
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />第五人格
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />光明大陆
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />野乱斗
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />宝可梦大探险
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />宝可梦大探险
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />元气骑士
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />穿越火线: 枪战王者
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />暗区实围
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />剑行
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />艾希
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />食之契约
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />失落城堡
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />一梦江湖
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />碧蓝航线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />星战前夜
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />装甲战争
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />魔兽世界怀日服
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />永劫无间
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />魔兽世界
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />炉石传说
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />使命召唤OL
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />冒险鸟2
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />篮球在线
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />装甲风暴
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />奇迹MU
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />古剑奇谭OL
		</div>
		<div
			class="game-item group relative flex  items-center justify-center  bg-white rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 p-4 text-center">
			<img decoding="async" class=" h-4 mr-1 md:mr-2" style="width: 15px; height: 16px;"
				src="/image/game/game-dd-icon.webp" alt="番茄加速器" />坦克世界
		</div>
	</div>
</div>