<section class="bg-gray-100 border-b px-6  lg:px-12  py-8 pt-16 lg:pt-24">
	<div class="study-content-box container lg:px-12   mx-auto m-8 lg:max-w-7xl">
		<!-- start one -->
		<div class="study-content-box-item flex flex-wrap items-center ">
			<div class="w-full lg:w-1/2 p-6 h-full lg:-rotate-6">
				<h3 class="text-lg text-blue-900 font-bold leading-none mb-3">
					高清流畅LIVE直播
				</h3>
				<p class="text-gray-700 py-4 mb-2">

					身在海外想要直播但推流慢，延迟高？番茄加速器针对直播场景单独优化，专选直播低延迟线路，突破直播的桎梏，还你正常高清直播画面。
				</p>
				<div class="flex-1 flex items-center justify-center rounded-b rounded-t-none overflow-hidden">
					<a class="to-download com-down-link mx-auto lg:mx-0 bg-gradient-to-r from-green-400 via-teal-500 to-blue-600 text-white font-bold rounded-full py-2 px-10 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
						href="https://www.fqhgvpn.com/download/">一键加速回国</a>
				</div>

			</div>

			<div class="w-full lg:w-1/2 p-6 flex items-center justify-center lg:rotate-6">
				<amp-img src="/image/live/anchor-col-b1.webp" width="534" height="358" layout="intrinsic" alt="番茄加速器">
				</amp-img>

			</div>
		</div>
		<!-- end one -->

		<!-- start two -->
		<div class="study-content-box-item flex flex-wrap lg:flex-row-reverse items-center ">
			<div class="w-full lg:w-1/2 p-6 ">
				<h3 class="text-lg text-blue-900 font-bold leading-none mb-3">
					专属直播场景，助力推流更快一步
				</h3>
				<p class="text-gray-700 py-4 mb-2">
					番茄加速器支持大部分直播及应用，针对 obs、直播姬、YY 语音单独优化规则处理，此外我们还支持虎牙直播、直播伴侣、酷我直播、抖音等直播应用加速。
				</p>
				<div class="flex-1 flex items-center justify-center rounded-b rounded-t-none overflow-hidden">
					<a class="to-download com-down-link mx-auto lg:mx-0 bg-gradient-to-r from-green-400 via-teal-500 to-blue-600 text-white font-bold rounded-full py-2 px-10 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
						href="https://www.fqhgvpn.com/download/">一键穿梭回国</a>
				</div>

			</div>
			<div class="w-full lg:w-1/2 p-6 flex items-center justify-center  lg:-translate-y-10">
				<amp-img src="/image/live/anchor-col-b2.webp" width="489" height="358" layout="intrinsic" alt="番茄加速器"
					style="max-width: min(489px, 100%);">
				</amp-img>
				<!-- <img src="/image/study-col-b2.webp" alt="番茄加速器" style="max-width: min(534px, 100%);" /> -->
			</div>
		</div>
		<!-- end two -->

		<!-- start three -->
		<div class="study-content-box-item flex flex-wrap items-center ">
			<div class="w-full lg:w-1/2 p-6 lg:rotate-6">
				<h3 class="text-lg text-blue-900 font-bold leading-none mb-3">
					1对1客服支持，随时在线解决问题
				</h3>
				<p class="text-gray-700 py-4 mb-2">

					官网在线客服、QQ客户群，多渠道沟通。专业技术客服1对1随时在线提供支持，帮助你实时解决问题。
				</p>
				<div class="flex-1 flex items-center justify-center rounded-b rounded-t-none overflow-hidden">
					<a class="to-download com-down-link mx-auto lg:mx-0 bg-gradient-to-r from-green-400 via-teal-500 to-blue-600 text-white font-bold rounded-full py-2 px-10 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out"
						href="https://www.fqhgvpn.com/download/">一键加速访问</a>
				</div>

			</div>
			<div class="w-full lg:w-1/2 p-6 flex items-center justify-center lg:-rotate-6">
				<amp-img src="/image/live/anchor-col-b3.webp" width="500" height="358" layout="intrinsic" alt="番茄加速器"
					style="max-width: min(500px, 100%);">
				</amp-img>
				<!-- <img src="/image/study-col-b3.webp" alt="番茄加速器" style="max-width: min(534px, 100%);" /> -->
			</div>
		</div>
		<!-- end three -->
	</div>
</section>