<div class="pay-type flex flex-row flex-wrap ">
	<div class="w-1/2 sm:w-1/3 lg:w-1/5 lg:w-1/5 p-1">
		<div class="pay-type-item flex items-center justify-center border p-2 rounded-sm">
			<span class="vip-icon w-6 h-6 mr-2 pay1 "></span>
			支付宝
		</div>
	</div>

	<div class="w-1/2 sm:w-1/3 lg:w-1/5 p-1">
		<div class="pay-type-item flex items-center justify-center border p-2 rounded-sm">
			<span class="vip-icon w-6 h-6 mr-2 pay2"></span>
			微信
		</div>
	</div>

	<div class="w-1/2 sm:w-1/3 lg:w-1/5 p-1">
		<div class="pay-type-item flex items-center justify-center border p-2 rounded-sm">
			<span class="vip-icon w-6 h-6 mr-2 pay3"></span>
			PayPal
		</div>
	</div>

	<div class="w-1/2 sm:w-1/3 lg:w-1/5 p-1">
		<div class="pay-type-item flex items-center justify-center border p-2 rounded-sm">
			<span class="vip-icon w-6 h-6 mr-2 pay4"></span>
			Google
		</div>
	</div>

	<div class="w-1/2 sm:w-1/3 lg:w-1/5 p-1">
		<div class="pay-type-item  flex items-center justify-center border p-2 rounded-sm">
			<span class="vip-icon w-6 h-6 mr-2 pay5"></span>
			apple
		</div>
	</div>





</div>