<div id="vip_tab_2_content" class="vip-tab-content tab1-exit  container px-4 mx-auto mb-8 hidden">
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
        <div class="relative grid-item p-4 flex flex-col justify-around  border rounded-lg text-center" data-hot="首充特惠">
            <p class="text-lg font-medium my-2">包月套餐</p>
            <p class="text-xl font-bold">
                ￥<span class="font-bold">18</span>
                <span class="text-sm line-through text-gray-500">￥50</span>
            </p>
            <p class="text-sm text-gray-600">￥18/30</p>
        </div>
        <div class="relative grid-item p-4 flex flex-col justify-around  border rounded-lg text-center" data-hot="买一赠一">
            <p class="text-lg font-medium my-2">
                包季套餐(3个月)
                <span class="text-sm text-green-500 block">到账6个月</span>
            </p>
            <p class="text-xl font-bold">￥<span class="font-bold">149</span></p>
            <p class="text-sm text-gray-600">￥24/30天</p>
        </div>
        <div class="relative grid-item p-4 flex flex-col justify-around  border rounded-lg text-center" data-hot="买一赠一">
            <p class="text-lg font-medium my-2">
                半年套餐(6个月)
                <span class="text-sm text-green-500 block">到账12个月</span>
            </p>
            <p class="text-xl font-bold">￥<span class="font-bold">298</span></p>
            <p class="text-sm text-gray-600">24/30天</p>
        </div>
        <div class="relative grid-item p-4 flex flex-col justify-around  border rounded-lg text-center" data-hot="买一赠一">
            <p class="text-lg font-medium my-2">
                包年套餐(12个月)
                <span class="text-sm text-green-500 block">到账24个月</span>
            </p>
            <p class="text-xl font-bold">￥<span class="font-bold">548</span></p>
            <p class="text-sm text-gray-600">22/30天</p>
        </div>
    </div>
    <div class="mt-8 border-x border-y p-4 rounded-lg">
        <h3 class="text-xl font-semibold mb-4">影音会员尊享权益

        </h3>
        <div class="grid grid-cols-3  lg:grid-cols-6 gap-4">
            <div class="text-center">
                <span class="vip-icon p1"></span>
                <p class="text-sm mt-2">回国影音加速
                </p>
            </div>
            <div class="text-center">
                <span class="vip-icon p2"></span>
                <p class="text-sm mt-2">全球回国节点
                </p>
            </div>
            <div class="text-center">
                <span class="vip-icon p3"></span>
                <p class="text-sm mt-2">支持多设备</p>
            </div>
            <div class="text-center">
                <span class="vip-icon p4"></span>
                <p class="text-sm mt-2">客服优先 </p>
            </div>
            <div class="text-center">
                <span class="vip-icon p5"></span>
                <p class="text-sm mt-2">4k高清播放</p>
            </div>
            <div class="text-center">
                <span class="vip-icon p6"></span>
                <p class="text-sm mt-2">无限流量</p>
            </div>
        </div>
    </div>
</div>