<div class=" w-full flex flex-wrap  justify-around		">
	<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
		href="/pages/down/win-down/windows-down.amp.html">
		<!-- <amp-img src="/image/down/win.png" width="49" height="48" layout="fixed" alt="Windows版">
		</amp-img> -->
		<svg t="1741672830047" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
			p-id="1073" width="48" height="48">
			<path
				d="M120.1 770.6L443 823.2V543.8H120.1v226.8z m63.4-163.5h196.2v141.6l-196.2-31.9V607.1zM523.8 833.6l382 62.2v-352h-382v289.8z m63.4-226.5h255.3v214.4l-255.3-41.6V607.1zM523.8 191.4v288.8h382V128.1l-382 63.3z m318.7 225.5H587.3V245l255.3-42.3v214.2zM120.1 480.2H443V201.9l-322.9 53.5v224.8zM183.5 309l196.2-32.5v140.4H183.5V309z"
				p-id="1074" fill="#58137a"></path>
		</svg>
		<span class="">Windows版</span>
	</a>
	<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
		href="/pages/down/mac-down/mac-down.amp.html">
		<!-- <amp-img src="/image/down/mac.png" width="48" height="48" layout="fixed" alt="Windows版">
		</amp-img> -->
		<svg t="1741673008050" class="icon" viewBox="0 0 1260 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
			p-id="1103" width="48" height="48">
			<path
				d="M1180.834503 826.958083 669.139551 826.958083 669.139551 945.2777 865.945302 945.2777C887.692337 945.2777 905.306452 962.891814 905.306452 984.63885 905.306452 1006.385885 887.692337 1024 865.945302 1024L393.611501 1024C371.864465 1024 354.250351 1006.385885 354.250351 984.63885 354.250351 962.891814 371.864465 945.2777 393.611501 945.2777L590.417251 945.2777 590.417251 826.958083 78.7223 826.958083C35.444716 826.958083 0 791.513367 0 748.235783L0 78.860064C0 35.58248 35.444716 0.137764 78.7223 0.137764L1180.834503 0.137764C1224.112087 0.137764 1259.556803 35.58248 1259.556803 78.860064L1259.556803 748.235783C1259.556803 791.513367 1224.112087 826.958083 1180.834503 826.958083ZM1180.834503 78.860064 78.7223 78.860064 78.7223 748.235783 1180.834503 748.235783 1180.834503 78.860064Z"
				p-id="1104" fill="#58137a"></path>
		</svg>
		<span class="">macOS版</span>

	</a>
	<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
		href="/pages/down/ios-down/ios-down.amp.html">
		<!-- <amp-img src="/image/down/ios.png" alt="Windows版" width="48" height="48" layout="fixed">
		</amp-img> -->
		<svg t="1741673172368" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
			p-id="1103" width="48" height="48">
			<path
				d="M628.01427 125.801171c-2.312672 26.25906-16.610306 47.514153-23.671119 56.564273-13.511735 17.336854-33.846876 30.103622-53.725622 34.441417 1.865487-26.391067 18.569938-48.873104 24.449855-56.018851C588.064396 145.086399 608.408747 131.955334 628.01427 125.801171L628.01427 125.801171zM680.887478 330.603627c40.271192 0 69.15094 8.970302 103.062284 41.282219-54.171784 41.389666-76.458369 114.270557-71.53729 184.253444 5.081739 72.621994 42.207287 147.851373 104.108103 181.330882-12.411681 26.452465-18.438954 36.84721-36.924981 64.883753-32.205493 49.197492-68.601424 99.272981-114.462938 99.740632l-0.801249 0c-18.379603 0-30.125111-5.39487-46.3834-12.836353-20.973684-9.616008-47.110971-21.594831-91.118254-21.594831l-1.334391 0c-44.268226 0.265036-70.862931 12.104689-92.234681 21.629623-16.72901 7.457856-28.822442 12.850679-47.409776 12.850679l-1.136893 0c-47.174416-0.356111-88.069825-53.506635-118.434389-99.785657-96.060823-146.272411-95.90835-305.381176-47.009663-380.786563 36.523845-56.087413 93.677543-90.909499 149.141762-90.909499 28.841885 0 52.252061 8.343015 77.054957 17.178241 24.484647 8.715499 49.803289 17.744129 79.434144 17.744129 28.110221 0 50.741661-8.555863 72.623018-16.826224 23.592324-8.924253 48.02069-18.154475 83.365686-18.154475L680.887478 330.603627zM680.893618 61.494563c-48.249911 3.269463-104.547101 34.014698-137.524167 73.884754-29.903054 36.346813-54.594409 90.173742-44.907793 142.480039 1.277086 0.045025 2.526543 0.057305 3.789303 0.057305 51.361785 0 103.963817-30.838356 134.830825-70.441329 29.589922-37.904285 51.965535-91.305519 43.812855-145.981792L680.893618 61.494563zM698.744171 272.016277c-81.283258 0-115.546619 38.566364-171.972746 38.566364-58.000995 0-102.195543-38.501896-172.520215-38.501896-69.034283 0-142.327566 41.900296-188.969862 113.541963-65.331961 100.752682-54.258765 290.248524 51.882648 451.871551 37.851073 57.70219 88.615247 122.713856 154.848741 123.230626 0.50142 0 0.984421 0 1.470491 0 57.815777 0 74.80573-37.546128 154.122193-38.019918 0.445138 0 0.858554 0 1.299599 0 78.304414 0 93.88732 37.95852 151.591557 37.95852 0.372483 0 0.74292 0 1.143033 0 66.288752-0.687662 119.788224-72.602551 157.581991-130.337487 27.28646-41.35385 37.419238-62.282508 58.57507-109.11207C744.366232 663.229307 719.613478 446.453145 871.499747 363.205139c-46.299489-57.778938-111.345947-91.189885-172.754552-91.189885L698.744171 272.016277"
				fill="#58137a" p-id="1104"></path>
		</svg>
		<span class="">iOS版</span>
	</a>
	<a class="flex flex-col items-center w-1/2 sm:w-1/4 text-gray-800 p-2 pt-3"
		href="/pages/down/android-down/android-down.amp.html">
		<!-- <amp-img src="/image/down/android.png" alt="Windows版" width="48" height="48" layout="fixed">
		</amp-img> -->
		<svg t="1741673096210" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"
			p-id="3518" width="48" height="48">
			<path
				d="M789.333 277.333c-8.533 0-14.933 2.134-21.333 4.267v-4.267h-2.133c-8.534-66.133-53.334-123.733-115.2-157.866L680.533 76.8c0-4.267 2.134-8.533 2.134-12.8 0-12.8-8.534-21.333-21.334-21.333-6.4 0-12.8 4.266-17.066 10.666L610.133 102.4c-29.866-10.667-64-17.067-98.133-17.067s-68.267 6.4-98.133 17.067l-34.134-49.067c-4.266-6.4-10.666-10.666-17.066-10.666-12.8 0-21.334 8.533-21.334 21.333 0 4.267 2.134 8.533 4.267 10.667l29.867 42.666c-64 34.134-108.8 91.734-115.2 157.867H256v4.267c-6.4-2.134-12.8-4.267-21.333-4.267-36.267 0-64 27.733-64 64v298.667c0 36.266 27.733 64 64 64 8.533 0 14.933-2.134 21.333-4.267V768c0 23.467 19.2 42.667 42.667 42.667h42.666v106.666c0 36.267 27.734 64 64 64s64-27.733 64-64V810.667h85.334v106.666c0 36.267 27.733 64 64 64s64-27.733 64-64V810.667h42.666C748.8 810.667 768 791.467 768 768v-68.267c6.4 2.134 12.8 4.267 21.333 4.267 36.267 0 64-27.733 64-64V341.333c0-36.266-27.733-64-64-64zM256 640c0 12.8-8.533 21.333-21.333 21.333S213.333 652.8 213.333 640V341.333c0-12.8 8.534-21.333 21.334-21.333S256 328.533 256 341.333V640z m256-512c108.8 0 198.4 66.133 211.2 149.333H300.8C313.6 194.133 403.2 128 512 128z m-85.333 789.333c0 12.8-8.534 21.334-21.334 21.334S384 930.133 384 917.333V810.667h42.667v106.666z m213.333 0c0 12.8-8.533 21.334-21.333 21.334s-21.334-8.534-21.334-21.334V810.667H640v106.666zM725.333 768H298.667V320h426.666v448z m85.334-128c0 12.8-8.534 21.333-21.334 21.333S768 652.8 768 640V341.333c0-12.8 8.533-21.333 21.333-21.333s21.334 8.533 21.334 21.333V640zM576 192c-12.8 0-21.333 8.533-21.333 21.333 0 12.8 8.533 21.334 21.333 21.334s21.333-8.534 21.333-21.334c0-12.8-8.533-21.333-21.333-21.333z m-128 0c-12.8 0-21.333 8.533-21.333 21.333 0 12.8 8.533 21.334 21.333 21.334s21.333-8.534 21.333-21.334c0-12.8-8.533-21.333-21.333-21.333z"
				p-id="3519" fill="#58137a"></path>
		</svg>
		<span class="">Android版</span>
	</a>
</div>