<!-- vpn能做什么 -->
<section class="bg-white border-b py-8">
	<div class="container mx-auto flex flex-wrap justify-between p-6 pt-4 pb-12 ">
		<div class="w-full my-2 ">
			<h2 class="text-lg font-bold leading-tight text-center text-gray-800"> 番茄回国VPN能做什么？</h2>
		</div>
		<div class="w-full mb-4">
			<div class="h-1 mx-auto gradient w-full md:w-4/5 opacity-25 my-0 py-0 rounded-t"></div>
		</div>
		<div class="w-full">
			<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden ">
				<a href="#" class="flex flex-wrap no-underline hover:no-underline">
					<p class="text-gray-800 text-base px-6 mb-5">
						身处海外，玩游戏、听音乐、看直播，经常延迟高、卡顿丢包、无法连接和播放？用番茄回国VPN一键加速，超低延迟不丢包，畅玩全球游戏，提高网络稳定性。加速王者荣耀、魔兽世界、原神、和平精英、我的世界、英雄联盟等国服游戏、还可以加速优酷、Bilibili、爱奇艺、腾讯视频、QQ音乐、网易云音乐、酷狗音乐、喜马拉雅、CCTV、腾讯体育NBA、YY语音、央视CCTV、咪咕视频等平台。
					</p>
				</a>
			</div>
			<div class="flex-1 flex items-center justify-center bg-white rounded-b rounded-t-none overflow-hidden  ">
				<a href="https://www.fqhgvpn.com/download/"
					class="to-download com-down-link mx-auto lg:mx-0  gradient text-white font-bold rounded-full my-6 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
					一键加速国服应用和游戏
				</a>
			</div>

		</div>
		<div class="w-full flex flex-wrap justify-between">
			<div class=" w-1/2 lg:w-1/4 pt-6 px-2 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<a href="#" class="flex items-center justify-center flex-wrap no-underline hover:no-underline">
						<div>
							<amp-img src="/image/home/icon116_3@2x-1.webp" width="140" height="140" layout="fixed"
								alt="全球游戏加速">
							</amp-img>
						</div>
						<p class="flex items-center justify-center text-gray-800 font-bold text-lg px-6 mb-5">
							全球游戏加速
						</p>
						<div class="w-full text-sm text-gray-800 p-3 md:p-5 text-center">
							满足你海外回国加速的各种需求，支持音视频、游戏、直播和办公等加速回国
						</div>

					</a>
				</div>
			</div>
			<div class=" w-1/2 lg:w-1/4 pt-6 px-2 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<a href="#" class="flex items-center justify-center flex-wrap no-underline hover:no-underline">
						<div>
							<amp-img src="/image/home/icon117-1@2x-1.webp" width="140" height="140" layout="fixed"
								alt="全球游戏加速">
							</amp-img>
						</div>
						<p class="flex items-center justify-center text-gray-800 font-bold text-lg px-6 mb-5">
							国内影音解锁
						</p>
						<div class="w-full text-sm text-gray-800 p-3 md:p-5 text-center">
							国外用不了QQ怎么办?使用加速器和VPN轻松访问国内网站和应用
						</div>

					</a>
				</div>
			</div>
			<div class=" w-1/2 lg:w-1/4 pt-6 px-2 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<a href="#" class="flex items-center justify-center flex-wrap no-underline hover:no-underline">
						<div>
							<amp-img src="/image/home/icon118-1@2x-1.webp" width="140" height="140" layout="fixed"
								alt="全球游戏加速">
							</amp-img>
						</div>
						<p class="flex items-center justify-center text-gray-800 font-bold text-lg px-6 mb-5">
							直播稳定推流
						</p>
						<div class="w-full text-sm text-gray-800 p-3 md:p-5 text-center">
							保障画面流畅稳定不卡顿
						</div>

					</a>
				</div>
			</div>
			<div class=" w-1/2 lg:w-1/4 pt-6 px-2 flex flex-col flex-grow flex-shrink">
				<div class="flex-1 bg-white rounded-t rounded-b-none overflow-hidden shadow">
					<a href="#" class="flex items-center justify-center flex-wrap no-underline hover:no-underline">
						<div>
							<amp-img src="/image/home/icon119-1@2x-1.webp" width="140" height="140" layout="fixed"
								alt="全球游戏加速">
							</amp-img>
						</div>
						<p class="flex items-center justify-center text-gray-800 font-bold text-lg px-6 mb-5">
							办公学习增效
						</p>
						<div class="w-full text-sm text-gray-800 p-3 md:p-5 text-center">
							保障画面流畅稳定不卡顿
						</div>

					</a>
				</div>
			</div>
		</div>

	</div>
</section>
<!-- end vpn 能做什么 -->