<div class="container mx-auto px-6 text-white">
	<nav class="flex items-center text-lg space-x-2" aria-label="面包屑">
		<!-- 首页 -->
		<a href="https://www.fanqiejsq.com/"
			class="breadcrumbs-link font-bold text-white hover:text-yellow-400 transition relative after:content-['/'] after:text-white after:mx-2">
			首页
		</a>

		<!-- 影音加速器 -->
		<a href="https://www.fanqiejsq.com/category/%e5%bd%b1%e9%9f%b3%e5%8a%a0%e9%80%9f%e5%99%a8/"
			class="breadcrumbs-link  font-bold text-white hover:text-yellow-400 transition relative after:content-['/'] after:text-white after:mx-2">
			影音加速器
		</a>

		<!-- 当前页面（无链接，不加分隔符） -->
		<amp-script layout="fixed-height" height="24" script="user-agent-script">
			<span class="text-white text-base" [text]="'第 ' + pageData.page + ' 页'">&nbsp;</span>
		</amp-script>

	</nav>
	<h2 class="text-xl font-bold mt-2">影音加速器</h2>
</div>