<!-- 
	start 文章导航 
	注意，这里的 前一页pre，后一页next，需要根据条件渲染。
	所有的链接，也是需要条件渲染的。
-->
<nav class="navigation pagination py-6 px-2" id="list-page-container" data-max-page="1538">

	<div class="nav-links flex justify-center items-center gap-2 sm:gap-4 flex-wrap">
		<span class="another-element"></span>
		<a class=" xs:bg-red-500 prev page-numbers flex items-center gap-1 p-2 h-10  text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/">
			<span class="ast-left-arrow text-lg sm:text-xl ">←</span> 前一页
		</a>

		<!-- 第一页 -->
		<a class="page-numbers px-3 py-2  text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/">
			1
		</a>
		<!-- page 大于2的时候，这里需要显示。 -->
		<span class="page-numbers dots  text-gray-500">…</span>

		<!-- page -1，但是如果page - 1 === 1,这里需要隐藏。 -->
		<a class="page-numbers px-3 py-2  text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/page/3/">
			3
		</a>

		<!-- page 当前页码如果 === 1，也需要隐藏。 -->
		<a class="page-numbers px-3 py-2  text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/page/3/">
			4
		</a>
		<!-- page + 1 , 如果 page + 1 === total 这里需要隐藏。 -->
		<a class="page-numbers px-3 py-2  text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/page/3/">
			5
		</a>

		<!-- total - page > 1 , 显示，否则隐藏。 -->
		<span class="page-numbers dots   text-gray-500">…</span>

		<a class="page-numbers px-3 py-2  text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/page/1518/">
			1,518
		</a>
		<a class="next page-numbers flex items-center gap-1 p-2  h-10 text-gray-800 bg-gray-200 rounded-md hover:bg-blue-600 hover:text-white transition-all"
			href="https://www.fanqiejsq.com/category/%E5%BD%B1%E9%9F%B3%E5%8A%A0%E9%80%9F%E5%99%A8/page/3/">
			后一页 <span class="ast-right-arrow text-lg sm:text-xl">→</span>
		</a>
	</div>
</nav>
<!-- end 文章导航 -->