<section class="container mx-auto text-center py-6 mb-12 text-white">
	<h2 class="w-full my-2 text-lg font-bold leading-tight text-center text-white">
		VIP 用户尊享 6 大特权
	</h2>
	<div class="w-full mb-4">
		<div class="h-1 mx-auto bg-white w-1/2 md:w-1/3 opacity-25 my-0 py-0 rounded-t"></div>
	</div>
	<div class="flex flex-wrap">
		<ul class="flex flex-wrap">
			<li class="w-full md:w-1/2 p-2 xl:flex items-center justify-center">
				<p class="text-sm flex  ">
					<amp-img class="w-6 h-6" width="40" height="40" layout="intrinsic" src="/image/home/icon-6.png"
						alt="">
					</amp-img>
					<span class="text-left">全球节点分布 全球节点紧密部署,海量专属优质加速线路,智能推荐最优线路</span>
				</p>
			</li>
			<li class="w-full md:w-1/2 p-2 xl:flex items-center justify-center">
				<p class="text-sm flex  ">
					<amp-img class="w-6 h-6" width="40" height="40" layout="intrinsic" src="/image/home/icon-3.png"
						alt="">
					</amp-img>
					<span class="flex-1 text-left">多个平台支持 支持Android/iOS/Windows/mocOS支持一人多端设备同时用</span>
				</p>
			</li>
			<li class="w-full md:w-1/2 p-2 xl:flex items-center justify-center">
				<p class="text-sm flex  ">
					<amp-img class="w-6 h-6" width="40" height="40" layout="intrinsic" src="/image/home/icon-1.png"
						alt="">
					</amp-img>
					<span class="text-left">稳定无限流量 稳定加速各大音频软件,不限流量,有效解决卡顿,延迟等常见问题</span>
				</p>
			</li>
			<li class="w-full md:w-1/2 p-2 xl:flex items-center justify-center">
				<p class="text-sm flex ">
					<amp-img class="w-6 h-6" width="40" height="40" layout="intrinsic" src="/image/home/icon-4.png"
						alt="">
					</amp-img>
					<span class="text-left">精选游戏加速 精选回国游戏加速线路，加速各类在线游戏，低延迟超稳定</span>
				</p>
			</li>
			<li class="w-full md:w-1/2 p-2 xl:flex items-center justify-center">
				<p class="text-sm flex  ">
					<amp-img class="w-6 h-6" width="40" height="40" layout="intrinsic" src="/image/home/icon-2.png"
						alt="">
					</amp-img>
					<span class="text-left">数据安全加密 全程高强度数据加密,专线传输,保证每一位用户的隐私安全</span>
				</p>
			</li>
			<li class="w-full md:w-1/2 p-2 xl:flex items-center justify-center">
				<p class="text-sm flex  ">
					<amp-img class="w-6 h-6" width="40" height="40" layout="intrinsic" src="/image/home/icon-5.png"
						alt="">
					</amp-img>
					<span class="flex-1 text-left">售后实时保障 专业的技术团队,7*24小时实时线路监控,保障用户的加速体验</span>
				</p>
			</li>
		</ul>
		<div class="flex-1 flex items-center justify-center  rounded-b rounded-t-none overflow-hidden  ">
			<a href="https://www.fanqiejsq.com/download/"
				class="to-download com-down-link mx-auto lg:mx-0  no-underline down-btn-inverse-gradient text-white font-bold rounded-full my-4 py-4 px-8 shadow-lg focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-300 ease-in-out">
				成为VIP，一键加速
			</a>
		</div>
	</div>
</section>